/* noto-sans-tamil-100 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/noto-sans-tamil-v27-tamil-100.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tamil-200 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/noto-sans-tamil-v27-tamil-200.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tamil-300 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/noto-sans-tamil-v27-tamil-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tamil-regular - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/noto-sans-tamil-v27-tamil-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tamil-500 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/noto-sans-tamil-v27-tamil-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tamil-600 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/noto-sans-tamil-v27-tamil-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tamil-700 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/noto-sans-tamil-v27-tamil-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tamil-800 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/noto-sans-tamil-v27-tamil-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-tamil-900 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/noto-sans-tamil-v27-tamil-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* baloo-thambi-2-regular - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/baloo-thambi-2-v17-tamil-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* baloo-thambi-2-500 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/baloo-thambi-2-v17-tamil-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* baloo-thambi-2-600 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/baloo-thambi-2-v17-tamil-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* baloo-thambi-2-700 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/baloo-thambi-2-v17-tamil-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* baloo-thambi-2-800 - tamil */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/baloo-thambi-2-v17-tamil-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fly-in {
  animation: .6s fadeInUp;
}


.fade-in {
  animation: 1s fade;
}

.baloo {
  font-family: "Baloo Thambi 2", system-ui;
  font-optical-sizing: auto;
}

.noto {
  font-family: "Noto Sans Tamil", sans-serif;
  font-optical-sizing: auto;
}


:root {
    --background-color: #C4E4CE;
    --container-color: #DDF8E5;
    --card-color: #EAFFF0;
    --text-higlight: #196519;
    --text-body: #0D3619;
    --text-gray: #545454;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--background-color);
    display: grid;
    place-content: center;
}

main {
    width: 80vw;
    min-height: 80vh;
    background-color: var(--container-color);
    border-radius: 20px;
    display: grid;
    margin-top: 2rem;
}

p {
    font-family: "Baloo Thambi 2", system-ui;
    font-optical-sizing: auto;
    color: var(--text-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Sans Tamil", sans-serif;

}

h2 {
    color: var(--text-higlight);
    font-size: 1.2rem;
}

.intro {
    padding: 2rem;
    display: grid;
    place-content: center;
    gap: 3rem;
    max-width: 85ch;
    margin: auto;
}


.works h2 {
    margin-block: 1rem;
    margin-inline: auto;
    text-align: center;
}


.logo {
    width: 200px;
    margin-inline: auto;
}

.description {
    text-align: center;
    text-wrap: pretty;
}

.projects {
    display: flex;
    margin-inline: auto;
    padding-bottom: 4rem;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.bold {
    font-weight: 600;
}

.card {
    padding: 20px;
    background-color: var(--card-color);
    text-align: center;
    border-radius: 10px;
    width: 25%;
    display: grid;
    gap: 1rem;
    text-align: center;
    align-items: center;
    max-width: 250px;
}

.card p {
    font-weight: 500;
}

.card img {
    margin-inline: auto;
}

.social {
    display: flex;
    gap: 32px;
}

.social svg {
    color: var(--text-gray);
}

.social svg:hover {
    color: var(--text-body);
}

footer {
    max-width: 600px;
    padding-inline: 2rem;
    margin-inline: auto;
    margin-block: 1rem;
}

.gray p {
    color: var(--text-gray);
}

.gray svg {
    color: var(--text-gray);
}

/* Tablet breakpoint (e.g., screens between 600px and 900px) */
@media (min-width: 600px) and (max-width: 899px) {
    .projects {
        flex-wrap: wrap;
    }

    .card {
        width: 40%;
    }
}

/* Mobile breakpoint (e.g., screens smaller than 600px) */
@media (max-width: 599px) {
    main {
        width: 90vw;
        padding-inline: 0.5rem;
    }

    .projects {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 100%;
    }
}
